*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

h2 {
    color: blue;
}

button#mudar-cor {
    display: inline-block;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 8px 10px;
}